[project]
	description = A library for unit testing ASP MVC route tables for both Web and API Routes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Rohlfs (EricRohlfs)
[access "refs/for/refs/*"]
	read = group user/Eric Rohlfs (EricRohlfs)
	push = group user/Eric Rohlfs (EricRohlfs)
	label-Code-Review = -2..+2 group user/Eric Rohlfs (EricRohlfs)
	label-Verified = -1..+1 group user/Eric Rohlfs (EricRohlfs)
	rebase = group user/Eric Rohlfs (EricRohlfs)
	removeReviewer = group user/Eric Rohlfs (EricRohlfs)
	submit = group user/Eric Rohlfs (EricRohlfs)
[access "refs/heads/*"]
	read = group user/Eric Rohlfs (EricRohlfs)
	create = group user/Eric Rohlfs (EricRohlfs)
	push = +force group user/Eric Rohlfs (EricRohlfs)
	pushMerge = group user/Eric Rohlfs (EricRohlfs)
[access "refs/tags/*"]
	push = +force group user/Eric Rohlfs (EricRohlfs)
	pushTag = group user/Eric Rohlfs (EricRohlfs)
	pushSignedTag = group user/Eric Rohlfs (EricRohlfs)
